body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Marco-gr-fico-b-sico {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Marco-de-texto-b-sico {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:"PP Fraktion Mono", serif;
	font-size:520px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"PP Fraktion Mono", serif;
	font-size:400px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#000000;
	font-family:"PP Fraktion Mono Italic", serif;
	font-size:400px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#000000;
	font-family:"PP Agrandir", sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#000000;
	font-family:"PP Agrandir", sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-6 {
	color:#000000;
	font-family:"PP Agrandir", sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
#_idContainer000 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:890.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1519.00px;
}
#_idContainer001 {
	-ms-transform:translate(50.000px,35.389px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(50.000px,35.389px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.66px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(50.000px,35.389px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(50.000px,35.389px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:193.44px;
}
#_idContainer002 {
	-ms-transform:translate(296.500px,40.099px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(296.500px,40.099px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:30.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(296.500px,40.099px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(296.500px,40.099px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:69.00px;
}
#_idContainer003 {
	-ms-transform:translate(390.936px,40.099px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(390.936px,40.099px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:30.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(390.936px,40.099px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(390.936px,40.099px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:91.80px;
}
#_idContainer004 {
	-ms-transform:translate(508.173px,40.099px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(508.173px,40.099px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:30.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(508.173px,40.099px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(508.173px,40.099px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:91.80px;
}
#_idContainer005 {
	-ms-transform:translate(269.718px,47.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(269.718px,47.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:20.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(269.718px,47.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(269.718px,47.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.00px;
}
#_idContainer006 {
	-ms-transform:translate(50.000px,113.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(50.000px,113.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:777.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(50.000px,113.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(50.000px,113.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:473.00px;
}
#_idContainer007 {
	-ms-transform:translate(523.000px,117.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(523.000px,117.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:510.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(523.000px,117.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(523.000px,117.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:449.00px;
}
#_idContainer008 {
	-ms-transform:translate(996.000px,138.622px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(996.000px,138.622px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:505.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(996.000px,138.622px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(996.000px,138.622px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:473.00px;
}
#_idContainer009 {
	-ms-transform:translate(50.000px,118.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(50.000px,118.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:772.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(50.000px,118.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(50.000px,118.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:449.00px;
}
#_idContainer010, #_idContainer021, #_idContainer032 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer011, #_idContainer022, #_idContainer033 {
	-ms-transform:translate(52.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(52.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(52.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(52.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer012, #_idContainer023, #_idContainer034 {
	-ms-transform:translate(26.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(26.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(26.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(26.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer013, #_idContainer024, #_idContainer035 {
	-ms-transform:translate(78.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(78.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(78.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(78.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer014, #_idContainer025, #_idContainer036 {
	-ms-transform:translate(104.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(104.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(104.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(104.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer015, #_idContainer026, #_idContainer037 {
	-ms-transform:translate(13.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(13.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(13.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(13.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer016, #_idContainer027, #_idContainer038 {
	-ms-transform:translate(65.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(65.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(65.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(65.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer017, #_idContainer028, #_idContainer039 {
	-ms-transform:translate(39.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(39.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(39.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(39.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer018, #_idContainer029, #_idContainer040 {
	-ms-transform:translate(91.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(91.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(91.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(91.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer019, #_idContainer030, #_idContainer041 {
	-ms-transform:translate(117.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(117.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(117.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(117.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer020 {
	-ms-transform:translate(1132.712px,181.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1132.712px,181.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1132.712px,181.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1132.712px,181.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:131.00px;
}
#_idContainer031 {
	-ms-transform:translate(1120.712px,205.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1120.712px,205.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1120.712px,205.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1120.712px,205.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:131.00px;
}
#_idContainer042 {
	-ms-transform:translate(1108.212px,229.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1108.212px,229.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1108.212px,229.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1108.212px,229.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:131.00px;
}
#_idContainer043 {
	-ms-transform:translate(1158.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1158.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1158.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1158.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer044 {
	-ms-transform:translate(1210.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1210.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1210.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1210.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer045 {
	-ms-transform:translate(1184.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1184.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1184.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1184.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer046 {
	-ms-transform:translate(1236.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1236.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1236.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1236.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer047 {
	-ms-transform:translate(1262.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1262.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1262.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1262.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer048 {
	-ms-transform:translate(1171.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1171.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1171.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1171.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer049 {
	-ms-transform:translate(1223.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1223.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1223.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1223.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer050 {
	-ms-transform:translate(1197.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1197.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1197.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1197.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer051 {
	-ms-transform:translate(1249.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1249.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1249.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1249.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer052 {
	-ms-transform:translate(1275.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1275.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1275.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1275.712px,253.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer053 {
	-ms-transform:translate(1120.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1120.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1120.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1120.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer054 {
	-ms-transform:translate(1172.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1172.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1172.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1172.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer055 {
	-ms-transform:translate(1146.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1146.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1146.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1146.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer056 {
	-ms-transform:translate(1198.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1198.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1198.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1198.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer057 {
	-ms-transform:translate(1224.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1224.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1224.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1224.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer058 {
	-ms-transform:translate(1133.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1133.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1133.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1133.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer059 {
	-ms-transform:translate(1185.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1185.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1185.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1185.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer060 {
	-ms-transform:translate(1159.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1159.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1159.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1159.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer061 {
	-ms-transform:translate(1211.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1211.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1211.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1211.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer062 {
	-ms-transform:translate(1237.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1237.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1237.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1237.712px,277.913px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer063 {
	-ms-transform:translate(1060.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1060.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1060.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1060.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer064 {
	-ms-transform:translate(1112.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1112.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1112.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1112.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer065 {
	-ms-transform:translate(1086.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1086.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1086.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1086.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer066 {
	-ms-transform:translate(1138.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1138.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1138.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1138.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer067 {
	-ms-transform:translate(1164.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1164.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1164.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1164.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer068 {
	-ms-transform:translate(1073.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1073.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1073.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1073.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer069 {
	-ms-transform:translate(1125.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1125.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1125.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1125.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer070 {
	-ms-transform:translate(1099.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1099.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1099.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1099.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer071 {
	-ms-transform:translate(1151.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1151.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1151.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1151.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
#_idContainer072 {
	-ms-transform:translate(1177.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1177.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1177.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1177.712px,299.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
