body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Marco-gr-fico-b-sico {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Marco-de-texto-b-sico {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:"PP Fraktion Mono", serif;
	font-size:520px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"PP Fraktion Mono", serif;
	font-size:400px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#000000;
	font-family:"PP Fraktion Mono Italic", serif;
	font-size:400px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#000000;
	font-family:"PP Agrandir", sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#000000;
	font-family:"PP Agrandir Tight Thin", sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:100;
}
#_idContainer000 {
	-ms-transform:translate(-4.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-4.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:890.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-4.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-4.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1519.00px;
}
#_idContainer001 {
	-ms-transform:translate(50.000px,35.389px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(50.000px,35.389px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.66px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(50.000px,35.389px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(50.000px,35.389px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:193.44px;
}
#_idContainer002 {
	-ms-transform:translate(296.500px,40.099px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(296.500px,40.099px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:30.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(296.500px,40.099px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(296.500px,40.099px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:69.00px;
}
#_idContainer003 {
	-ms-transform:translate(390.936px,40.099px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(390.936px,40.099px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:30.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(390.936px,40.099px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(390.936px,40.099px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:91.80px;
}
#_idContainer004 {
	-ms-transform:translate(508.173px,40.099px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(508.173px,40.099px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:30.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(508.173px,40.099px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(508.173px,40.099px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:91.80px;
}
#_idContainer005 {
	-ms-transform:translate(269.718px,47.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(269.718px,47.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:20.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(269.718px,47.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(269.718px,47.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.00px;
}
#_idContainer006 {
	-ms-transform:translate(523.000px,323.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(523.000px,323.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:644.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(523.000px,323.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(523.000px,323.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:449.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
